/* Годинник та стрілки */

.round {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin: 50px auto;
    background: cornflowerblue;
    position: relative;
}

.figure-4 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
}

.figure-1 {
    height: 190px;
    width: 5px;
    border-radius: 15%;
    background: rgb(119, 78, 16);
    position: absolute;
    bottom: 50%;
    left: calc(50% - 2.5px);
    animation-name: second;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0% 100%;
}

@keyframes second {
    0% {
        transform: rotate(0);
    }        
    100% {
        transform: rotate(360deg);
    }
}

.figure-2 {
    height: 175px;
    width: 7px;
    border-radius: 15%;
    background: rgb(64, 133, 8);
    position: absolute;
    bottom: 50%;
    left: calc(50% - 3.5px);
    animation-name: minute;
    animation-duration: 3600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0% 100%;
}

@keyframes minute {
    0% {
        transform: rotate(0);
    }        
    100% {
        transform: rotate(360deg);
    }
}

.figure-3 {
    height: 150px;
    width: 10px;
    border-radius: 15%;
    background: rgb(29, 12, 107);
    position: absolute;
    bottom: 50%;
    left: calc(50% - 5px);
    animation-name: hour;
    animation-duration: 216000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0% 100%;
}

@keyframes hour {
    0% {
        transform: rotate(0);
    }        
    100% {
        transform: rotate(360deg);
    }
}

/* Циферблат */ 

.number-1 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 80%;
    left: 75%;
}

.number-2 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 63.5%;
    left: 88%;
}

.number-3 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 44.5%;
    left: 92%;
}

.number-4 {
    font-size: 50px;
    color: #000;
    position: absolute;
    top: 63.5%;
    left: 88%;
}

.number-5 {
    font-size: 50px;
    color: #000;
    position: absolute;
    top: 80%;
    left: 75%;
}

.number-6 {
    font-size: 50px;
    color: #000;
    position: absolute;
    top: 89%;
    left: calc(50% - 12.5px);
}

.number-7 {
    font-size: 50px;
    color: #000;
    position: absolute;
    top: 80%;
    right: 75%;
}

.number-8 {
    font-size: 50px;
    color: #000;
    position: absolute;
    top: 63.5%;
    right: 88%;
}

.number-9 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 44.5%;
    right: 92%;
}

.number-10 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 63.5%;
    right: 84%;
}

.number-11 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 80%;
    right: 71%;
}

.number-12 {
    font-size: 50px;
    color: #000;
    position: absolute;
    bottom: 89%;
    left: calc(50% - 25px);
}